<html>
<head>
<style>
h1,h2.h3{
color:#36c,
font-weight:normal;
letter-spacing:.4em;
margin-bottom:1em;
text-transform:lowercase:
}
</style>
</head>
<body>
<h1 style="color:red;font-size:40pt">Welcome to CSS</h1>
<h2 style="color:yellow;font-size:20pt">IM CHITTI</h2>
<h2>SPEED 1 GIGABYTE</h2>
<h3>MEMORY 1 TERABYTE</h3>
</body>
</html>
